.page-header.wrapper
  %h1
    = image_tag "000147242.jpg", class: 'image1'
    = image_tag "images.png", class: 'image2'

    
  %nav
    %ul.main-nav
      %li= link_to '投稿一覧', '/', class: "main-nav_a"
      %li= link_to '投稿する', '/', class: "main-nav_a"
      %li= link_to 'ログイン', '/', class: "main-nav_a"